In [1]:
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_csv('../lecture11/imdb-top-1000.csv')
mobiles = pd.read_csv('../lecture10/mobiles.csv')

In [3]:
movies.sample(3)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
206,Kis Uykusu,2014,196,Drama,8.1,Nuri Bilge Ceylan,Haluk Bilginer,46547,165520.0,88.0
803,Rushmore,1998,93,Comedy,7.7,Wes Anderson,Jason Schwartzman,169229,17105219.0,86.0
98,American Beauty,1999,122,Drama,8.3,Sam Mendes,Kevin Spacey,1069738,130096601.0,84.0

In [4]:
x = movies.groupby(['Director','Star1'])

In [5]:
# size
x.size()

Director             Star1
Aamir Khan           Amole Gupte       1
Aaron Sorkin         Eddie Redmayne    1
Abdellatif Kechiche  Léa Seydoux       1
Abhishek Chaubey     Shahid Kapoor     1
Abhishek Kapoor      Amit Sadh         1
                                      ..
Zaza Urushadze       Lembit Ulfsak     1
Zoya Akhtar          Hrithik Roshan    1
                     Vijay Varma       1
Çagan Irmak          Çetin Tekindor    1
Ömer Faruk Sorak     Cem Yilmaz        1
Length: 898, dtype: int64

In [6]:
# get_group
x.get_group(('Ömer Faruk Sorak','Cem Yilmaz'))

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
366,G.O.R.A.,2004,127,Adventure,8.0,Ömer Faruk Sorak,Cem Yilmaz,56960,196206077.0,NaN

In [7]:
# find the most earning actor->director combo
x['Gross'].sum().sort_values(ascending=False)

Director              Star1
Akira Kurosawa        Toshirô Mifune     2.999877e+09
Anthony Russo         Joe Russo          2.205039e+09
Billy Wilder          William Holden     1.286779e+09
Christopher Nolan     Christian Bale     1.242940e+09
Werner Herzog         Klaus Kinski       1.124605e+09
                                             ...
Jeong-beom Lee        Won Bin            6.460000e+03
Shane Meadows         Paddy Considine    6.013000e+03
Jaco Van Dormael      Jared Leto         3.600000e+03
Thomas Jahn           Til Schweiger      3.296000e+03
Anders Thomas Jensen  Ulrich Thomsen     1.305000e+03
Name: Gross, Length: 898, dtype: float64

In [8]:
y = movies.groupby(['Star1', 'Genre'])

In [9]:
movies.columns

Index(['Series_Title', 'Released_Year', 'Runtime', 'Genre', 'IMDB_Rating',
       'Director', 'Star1', 'No_of_Votes', 'Gross', 'Metascore'],
      dtype='object')

In [10]:
# find the best(in-terms of metascore(avg)) actor->genre combo
y['Metascore'].mean().sort_values(ascending=False)

Star1             Genre
Peter O'Toole     Adventure    100.0
Orson Welles      Drama        100.0
Bertil Guve       Drama        100.0
Ellar Coltrane    Drama        100.0
Humphrey Bogart   Drama        100.0
                               ...
William Holden    Drama          NaN
Won Bin           Action         NaN
Yash              Action         NaN
Çetin Tekindor    Drama          NaN
Ömer Faruk Sorak  Comedy         NaN
Name: Metascore, Length: 829, dtype: float64