# **MultiIndex Series**

In [1]:
import numpy as np
import pandas as pd

### Series is 1D and DataFrames are 2D objects

In [2]:
index_val = [('honda',2019), ('honda',2020),('honda',2021),('honda',2022), ('yamaha',2019),('yamaha',2020),('yamaha',2021),('yamaha',2022)]
a = pd.Series([75000, 90000, 130000, 140000, 150000, 180000, 190000, 210000], index=index_val)
a

(honda, 2019)      75000
(honda, 2020)      90000
(honda, 2021)     130000
(honda, 2022)     140000
(yamaha, 2019)    150000
(yamaha, 2020)    180000
(yamaha, 2021)    190000
(yamaha, 2022)    210000
dtype: int64

#### multiindex series(also known as Hierarchical Indexing)
#### multiple index levels within a single index

In [3]:
# how to create multiindex object
# 1. pd.MultiIndex.from_tuples()
index_val = [('CS',2019),('CS',2020),('CS',2021),('CS',2022),('SE',2019),('SE',2020),('SE',2021),('SE',2022)]
multiindex = pd.MultiIndex.from_tuples(index_val)

In [4]:
multiindex

MultiIndex([('CS', 2019),
            ('CS', 2020),
            ('CS', 2021),
            ('CS', 2022),
            ('SE', 2019),
            ('SE', 2020),
            ('SE', 2021),
            ('SE', 2022)],
           )

In [5]:
# level inside multiindex object
multiindex.levels[1]

Index([2019, 2020, 2021, 2022], dtype='int64')

In [6]:
# 2. pd.MultiIndex.from_product()
pd.MultiIndex.from_product([["CS", 'SE', 'AI'], [2019, 2020, 2021, 2022, 2023]])

MultiIndex([('CS', 2019),
            ('CS', 2020),
            ('CS', 2021),
            ('CS', 2022),
            ('CS', 2023),
            ('SE', 2019),
            ('SE', 2020),
            ('SE', 2021),
            ('SE', 2022),
            ('SE', 2023),
            ('AI', 2019),
            ('AI', 2020),
            ('AI', 2021),
            ('AI', 2022),
            ('AI', 2023)],
           )

In [7]:
# creating a series with multiindex object
series = pd.Series([1,2,3,4,5,6,7,8], index=multiindex)

In [8]:
series

CS  2019    1
    2020    2
    2021    3
    2022    4
SE  2019    5
    2020    6
    2021    7
    2022    8
dtype: int64

In [9]:
# how to fetch items from such a series
series[("CS", 2020)]

np.int64(2)

In [10]:
# unstack
x = series.unstack()

In [11]:
x

    2019  2020  2021  2022
CS     1     2     3     4
SE     5     6     7     8

In [12]:
# stack
x.stack()

CS  2019    1
    2020    2
    2021    3
    2022    4
SE  2019    5
    2020    6
    2021    7
    2022    8
dtype: int64

### **Why we use MultiIndex Object?**

In [13]:
# multiindex dataframe

In [14]:
branch_df1 = pd.DataFrame(
    [
        [3.1, 100],
        [3.5, 40],
        [3.0, 160],
        [3.7, 80],
        [3.0, 20],
        [3.8, 120],
        [3.3, 140],
        [3.4, 260],
    ],
    index = multiindex,
    columns = ['avg_CGPA','students']
)

branch_df1

         avg_CGPA  students
CS 2019       3.1       100
   2020       3.5        40
   2021       3.0       160
   2022       3.7        80
SE 2019       3.0        20
   2020       3.8       120
   2021       3.3       140
   2022       3.4       260

In [15]:
# loc
branch_df1.iloc[5]

avg_CGPA      3.8
students    120.0
Name: (SE, 2020), dtype: float64

In [16]:
import pandas as pd
import numpy as np