## **Series from dict**

In [1]:
import pandas as pd
import numpy as np

In [2]:
marks = {
    'maths': 67,
    'english': 57,
    'science': 89,
    'Urdu': 100,
    'sst': 100
}

marks_series = pd.Series(marks, name='Hasnain ke marks')
marks_series

maths       67
english     57
science     89
Urdu       100
sst        100
Name: Hasnain ke marks, dtype: int64

## **Series Attributes**

In [3]:
# size
marks_series.size

5

In [4]:
marks_series.shape

(5,)

In [5]:
# dtype
marks_series.dtype

dtype('int64')

In [6]:
# name
marks_series.name

'Hasnain ke marks'

In [7]:
# is_unique
marks_series.is_unique

False

In [8]:
# index
marks_series.index

Index(['maths', 'english', 'science', 'Urdu', 'sst'], dtype='object')

In [9]:
# values
marks_series.values

array([ 67,  57,  89, 100, 100])

## **Series using csv files**

In [ ]:
sub = pd.read_csv('subs.csv')

In [11]:
sub = sub.squeeze()

In [12]:
sub

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Numbers, Length: 365, dtype: int64

In [13]:
sub

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Numbers, Length: 365, dtype: int64

In [14]:
sub.name

'Numbers'

In [15]:
pd.read_csv('./bollywood.csv')

                                     movie              lead
0                 Uri: The Surgical Strike     Vicky Kaushal
1                            Battalion 609       Vicky Ahuja
2     The Accidental Prime Minister (film)       Anupam Kher
3                          Why Cheat India     Emraan Hashmi
4                          Evening Shadows  Mona Ambegaonkar
...                                    ...               ...
1495                Hum Tumhare Hain Sanam    Shah Rukh Khan
1496                   Aankhen (2002 film)  Amitabh Bachchan
1497                       Saathiya (film)      Vivek Oberoi
1498                        Company (film)        Ajay Devgn
1499                  Awara Paagal Deewana      Akshay Kumar

[1500 rows x 2 columns]

`Squeeze`

In [16]:
df = pd.read_csv('./bollywood.csv', index_col='movie')
data = df.squeeze()

In [17]:
data

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

## **Series methods**

In [18]:
data.head(10)

movie
Uri: The Surgical Strike                       Vicky Kaushal
Battalion 609                                    Vicky Ahuja
The Accidental Prime Minister (film)             Anupam Kher
Why Cheat India                                Emraan Hashmi
Evening Shadows                             Mona Ambegaonkar
Soni (film)                             Geetika Vidya Ohlyan
Fraud Saiyaan                                   Arshad Warsi
Bombairiya                                      Radhika Apte
Manikarnika: The Queen of Jhansi              Kangana Ranaut
Thackeray (film)                         Nawazuddin Siddiqui
Name: lead, dtype: object

In [19]:
# head and tail
data.tail()

movie
Hum Tumhare Hain Sanam      Shah Rukh Khan
Aankhen (2002 film)       Amitabh Bachchan
Saathiya (film)               Vivek Oberoi
Company (film)                  Ajay Devgn
Awara Paagal Deewana          Akshay Kumar
Name: lead, dtype: object

In [20]:
# sample
data.sample(10)

movie
Jannat (film)                  Emraan Hashmi
Bhola in Bollywood                 Ali Asgar
Risk (2007 film)                Vinod Khanna
Happy Ending (film)            Saif Ali Khan
Housefull 2                     Akshay Kumar
Jhootha Kahin Ka                Rishi Kapoor
Black Friday (2007 film)       Kay Kay Menon
Cheeni Kum                  Amitabh Bachchan
Neerja                          Sonam Kapoor
Saaya (2003 film)               John Abraham
Name: lead, dtype: object

In [21]:
# value_counts -> movies
data.value_counts()

lead
Akshay Kumar            48
Amitabh Bachchan        45
Ajay Devgn              38
Salman Khan             31
Sanjay Dutt             26
                        ..
Tanishaa Mukerji         1
Tanuja                   1
Ankit                    1
Rakhee Gulzar            1
Geetika Vidya Ohlyan     1
Name: count, Length: 566, dtype: int64

In [22]:
# Sort Values

In [23]:
# sort_index -> inplace -> movies

## **Series Maths Methods**

In [24]:
# count
sub.size

365

In [25]:
sub.count()

np.int64(365)

In [26]:
sub

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Numbers, Length: 365, dtype: int64

In [27]:
marks_series

maths       67
english     57
science     89
Urdu       100
sst        100
Name: Hasnain ke marks, dtype: int64

In [28]:
# sum -> product
marks_series.prod()

np.int64(3398910000)

In [29]:
# mean -> median -> mode -> std -> var
sub.median()

np.float64(123.0)

In [30]:
sub.mode()

0    105
Name: Numbers, dtype: int64

In [31]:
data

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [32]:
data.mode()

0    Akshay Kumar
Name: lead, dtype: object

In [33]:
# min/max
sub.max()

np.int64(396)

In [34]:
# describe (USED TO CHECK THE SUMMAEY OF THE DATA)
sub.describe()

count    365.000000
mean     135.643836
std       62.675023
min       33.000000
25%       88.000000
50%      123.000000
75%      177.000000
max      396.000000
Name: Numbers, dtype: float64