In [3]:
import pandas as pd
import numpy as np

In [4]:
movies = pd.read_csv('./bollywood.csv', index_col='movie')
movies = movies.squeeze()
data = pd.read_csv('./subs.csv')
data = data.squeeze()

In [5]:
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [6]:
# duplicated
temp = pd.Series([1,1,2,2,3,3,4,4])

In [7]:
temp

0    1
1    1
2    2
3    2
4    3
5    3
6    4
7    4
dtype: int64

In [8]:
temp.duplicated()

0    False
1     True
2    False
3     True
4    False
5     True
6    False
7     True
dtype: bool

`keep='last'`

In [9]:
# drop_duplicates
temp = pd.Series([1,1,2,2,3,3,4,4])

In [10]:
temp

0    1
1    1
2    2
3    2
4    3
5    3
6    4
7    4
dtype: int64

In [11]:
temp.drop_duplicates()

0    1
2    2
4    3
6    4
dtype: int64

In [12]:
temp.drop_duplicates(keep='last')

1    1
3    2
5    3
7    4
dtype: int64

In [13]:
data.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
360    False
361    False
362     True
363    False
364     True
Name: Subscribers gained, Length: 365, dtype: bool

In [14]:
data.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
360    False
361    False
362     True
363    False
364     True
Name: Subscribers gained, Length: 365, dtype: bool

In [15]:
len(movies)

1500

In [16]:
len(movies.drop_duplicates())

566

In [17]:
temp = pd.Series([1,2,3,np.nan,5,6,np.nan,8,np.nan,10])

In [18]:
temp

0     1.0
1     2.0
2     3.0
3     NaN
4     5.0
5     6.0
6     NaN
7     8.0
8     NaN
9    10.0
dtype: float64

In [19]:
# size
temp.size

10

In [20]:
# Count
temp.count()

np.int64(7)

In [21]:
# isnull
temp.isnull().sum()

np.int64(3)

In [22]:
# dropna
temp.dropna()

0     1.0
1     2.0
2     3.0
4     5.0
5     6.0
7     8.0
9    10.0
dtype: float64

In [23]:
# fillna
temp.fillna(np.mean(temp))

0     1.0
1     2.0
2     3.0
3     5.0
4     5.0
5     6.0
6     5.0
7     8.0
8     5.0
9    10.0
dtype: float64

In [24]:
temp

0     1.0
1     2.0
2     3.0
3     NaN
4     5.0
5     6.0
6     NaN
7     8.0
8     NaN
9    10.0
dtype: float64

In [25]:
temp.bfill()

0     1.0
1     2.0
2     3.0
3     5.0
4     5.0
5     6.0
6     8.0
7     8.0
8    10.0
9    10.0
dtype: float64

In [26]:
temp.bfill()

0     1.0
1     2.0
2     3.0
3     5.0
4     5.0
5     6.0
6     8.0
7     8.0
8    10.0
9    10.0
dtype: float64

In [27]:
temp

0     1.0
1     2.0
2     3.0
3     NaN
4     5.0
5     6.0
6     NaN
7     8.0
8     NaN
9    10.0
dtype: float64

In [28]:
# isin
temp[(temp == 3.0) | (temp == 8.0)]

2    3.0
7    8.0
dtype: float64

In [29]:
temp[temp.isin([3.0, 8.0])]

2    3.0
7    8.0
dtype: float64

In [30]:
# copy
df = data.head().copy()

In [31]:
data

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64